<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>Log in</title>
        <link rel="stylesheet" href = "style.css">
    </head>
    <body>
        <form action="">
            <h1 title="Registration form">Log in</h1>
            <div class="group">
                <label for="">Username or Email Adrress</label>
                <input type="text">
                
            </div>
            <div class="group">
                <label for="">Password</label>
                <input type="password">
            </div>
            <div class="group">
                <center><button>Log in</button></center>
            </div>
        </form>
    </body>
</html>