@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 


body {
    font-family: 'Times New Roman' ;
    background: #ffff;
    margin : 0;
}
h1 {
    position: relative;
    margin: auto;
    text-transform: capitalize;
    padding-bottom: 5px;
    border-bottom: 3px ;
    left: 140px;


}
form {
    position: relative;
    margin: auto;
    top: 150px;

   
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5c5c5c+49,5c5c5c+49&0+0,0.65+99 */
background: -moz-linear-gradient(top,  rgba(92,92,92,0) 0%, rgba(92,92,92,0.32) 49%, rgba(92,92,92,0.65) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(92,92,92,0) 0%,rgba(92,92,92,0.32) 49%,rgba(92,92,92,0.65) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(92,92,92,0) 0%,rgba(92,92,92,0.32) 49%,rgba(92,92,92,0.65) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c5c5c', endColorstr='#a65c5c5c',GradientType=0 ); /* IE6-9 */

    width: 450px;
    height: 400px;
    padding: 20px;
    box-shadow: 2px 2px 5px 
    #1b1b1b;
}
.group {

    margin:10px;
    padding: 5px;
}
label {
    padding-left: 10px; 
}
input {
    margin-top: 10px;
    height: 40px;
    width: 400px;
}
button {
    cursor : pointer;
    padding: 10px 30px;
    height: 30 px;
}
button:hover {
    opacity: .80;
    font-weight: bold;
    transform: scale(1);
}