<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
  <!-- <title>Responsive Navigation Menu</title> -->
  <title>Forum page</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <nav>
    <div class="category">
      <button type="button"><i class="fa fa-navicon"></i></button>
    </div>
    <div class="logo">
      Forum
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fa fa-bars"></i>
    </label>
    <div class="box">
      <form>
        <input type="search" class="search-data" placeholder="Search" required>

      </form>
    </div>
    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Log out</a></li>
    </ul>
  </nav>
  <div class="field">
    <div class="content">
      <div>Ask a public question
      </div>
      <div class="title">
        <label for="" name="title">Title</label>
        <input type="text">
      </div>
      <div class="body">
        <label for="" name="text">Body</label>
        <input type="text">
      </div>
      <div class="tag">
        <label for="" name="category">Category</label>
        <input type="text">
      </div>
      <div class="post">
        <button>Post your question</button>
      </div>
    </div>


  </div>
</body>

</html>