@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .category{
  color:white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 50px;
  cursor: pointer;
}

.category:hover>#cat{
  display: block;
  color: #111;
}
.category #cat{
  display: none;
  text-decoration: none;
  list-style: none;
  font-size: 15px;
}

nav .category :hover {
  opacity: .80;
  font-weight: bold;
  transform: scale(1);
}
nav #icon {
  color:white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  cursor: pointer;
  display: none;
  width: 20vw;
}
@media(max-width:1048px){
  label.logo{
    font-size: 32px;
    padding-left: 60px;
  }
  nav #menu{
    margin-right: 20px;
  }
  nav a {
    font-size: 17px;
  }
}
.logo{
  position: absolute;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  left: 10%;
  width: 20vw;
}
nav #menu{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav #menu li{
  margin: 0 5px;
}


nav #menu li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav #menu li a.active,
nav #menu li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
  
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav #menu{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    
    transition: all 0.3s ease;
  }
  #click:checked ~ #menu{
    left: 0;
  }
  nav #menu li{
    width: 100%;
    margin: 40px 0;
  }
  nav #menu li a{
    width: 100%;
    margin-left: -100%;
   
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ #menu li a{
    margin-left: 0px;
  }
  nav #menu li a.active,
  nav #menu li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 15%;
  
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  display: inline-block;
  flex-wrap: wrap;
  list-style: none;
  font-size: 40px;
  font-weight: 500;

}

.box{
  position:absolute;
  right:50%;
  transform:translate(-50%);
  text-align: left;
  width: 20vw;
  top:25px;
}
.box input{
  height: 30px;
  width: 200%;
}
input{
  float: left;
  display: inline-block;
}
.search-btn{
  position: relative;
  float: right;
  left: 110%;
  bottom: 35px;
  font-size: 25px;
  color: #fff;
}
.ask{
  right: 100px;
}

a.button:hover {
  opacity: .80;
  font-weight: bold;
  transform: scale(1);
  color: #111;
}

a.button {
  position: absolute;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  cursor : pointer;
  padding: 10px 30px;
  height: 30 px;
  color: black;
  font-family: 'Poppins', sans-serif;
  top: -25%;
}

.content h3 a{
  position: relative;
  text-decoration: none;
  text-align: center;
  line-height: 75px;
  color: black;
  margin-right: 500px;
}
.content h5{
  position: relative;
  text-decoration: none;
  text-align: center;
  color:#696969;
  font-size: 12px;
  
}
.content h3 a:hover{
  color: #111;
  background: #fff;
  opacity: 0.6;

}
.counts a {
  font-size: 15px;
  
}
.counts {
 float: left;
  display: inline-block;
  /* padding-left: 500px; */
  margin-left: 500px;
}
/* .content h3 h5 a{
  position: absolute;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding-left: 50px;
  line-height: 0.9em;
} */
.content h3 i:hover{
  color: #111;
  background: #fff;
  opacity: 0.6;
}
.content h3 a:hover{
  color: #111;
  background: #fff;
  opacity: 0.6;

}
.counts a {
  font-size: 15px;
  
}
.counts {
 float: left;
  display: inline-block;
  /* padding-left: 500px; */
  margin-left: 500px;
}
/* .content h3 h5 a{
  position: absolute;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding-left: 50px;
  line-height: 0.9em;
} */
.content h3 i:hover{
  color: #111;
  background: #fff;
  opacity: 0.6;
}

.menu #user {
  color: #fff;
}