<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Forum page</title>
  <link rel="stylesheet" href="/css/homepage.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <nav>

    <div class="logo">Geek-Forum</div>
    <input type="checkbox" id="click" />
    <label for="click" class="menu-btn">
      <i class="fa fa-bars"></i>
    </label>

    <ul id="menu">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="#">About</a></li>
      {{ if .UserIn}}
      <li id="hi">Hi, <span id="user">{{ .UserName }}</span></li>
      <p id={{.UserID}} style="display: none">{{.UserID}}</p>
      <li><a href="logout">Log out</a></li>
      {{ else }}
      <li><a href="sign-in">Log in</a></li>
      <li><a href="sign-up">Sign up</a></li>
      {{ end }}
    </ul>
    </div>
  </nav>
  <div class="main">
    <div class="contents">
      {{ range .AllPosts }}
      <div class="content">
        <div class= "counts {{.Category}} tpost {{.Author}}">
          <a style="display: none" class="toSortLikes"> {{.Likes}}</a>
          <form action="#" method="POST">
          <a style="font-size:15px">{{.Likes}}</a>
          <a name="like" value="{{.Likes}}"></a>
              <i class="far fa-thumbs-up"></i>
          <a name="dislike" value="{{.Dislikes}}"></a>
              <i class="far fa-thumbs-down"></i>
          <a style="font-size:15px">{{.Dislikes}}</a>
        </form>
          <h3><a href="/posts?id={{ .ID }}">{{.Title}}</a></h3>
          <h5><a>{{.Category}}  </a></h5>
          <h6><p>Asked on {{.Created}} by <span>{{.Author}}</span></p></h6>
          {{ if .Liked }}
          <h6 style="color:rgba(255, 0, 0, 0.09);"><p> liked</p></h6>
          {{ end }}
          <h7 style="display: none" class="toSortDates"><p>{{.Created}}</p></h7>

      </div>
        <div>
        </div>
      </div>

      {{ end }}
    </div>
  </div>

  <div class="">
    <div class="filterbtn">
      <input type="button" value="Newest to oldest" onclick="NewToOld()">
      <script>
        function NewToOld() {
        
          var allPost = document.getElementsByClassName("tpost")
          var container = document.getElementsByClassName("contents")
          console.log(container[0].outerHTML)
          // console.log(container)
          var sortedContent = []
          for (var a of allPost) {
            sortedContent.push(a)
          }

          sortedContent.sort((a, b) => {
            return new Date(b.lastElementChild.innerText) - new Date(a.lastElementChild.innerText);
          })

          var newContent = ""
          for (a of sortedContent) {
        
            newContent += "<div class=\"content\">\n" + a.outerHTML  + "\n<\/div>" + "<id=\"lol\">"
          }
          // newContent += 
          // console.log(newContent)
          container[0].innerHTML = newContent
          
          console.log(container[0].outerHTML)
        }
      </script>
      <input type="button" value="Oldest to newest" onclick="OtN()">
        <script>
          function OtN() {
          
            var allPost = document.getElementsByClassName("tpost")
            var container = document.getElementsByClassName("contents")
            console.log(container[0].outerHTML)
            // console.log(container)
            var sortedContent = []
            for (var a of allPost) {
              sortedContent.push(a)
            }

            sortedContent.sort((a, b) => {
              return new Date(a.lastElementChild.innerText) - new Date(b.lastElementChild.innerText);
            })

            var newContent = ""
            for (a of sortedContent) {
          
              newContent += "<div class=\"content\">\n" + a.outerHTML  + "\n<\/div>" + "<id=\"lol\">"
            }
            // newContent += 
            // console.log(newContent)
            container[0].innerHTML = newContent
            
            console.log(container[0].outerHTML)
          }
        </script>
      <input type="button" value="Most liked" onclick="likesort()">
      <script>
        function likesort() {
        
          var allPost = document.getElementsByClassName("tpost")
          var container = document.getElementsByClassName("contents")
          // console.log(allPost)
          // console.log(container)
          var sortedContent = []
          for (var a of allPost) {
            // console.log(a.firstElementChild)
            // console.log(a.firstElementChild.innerText)
            sortedContent.push(a)
          }

          sortedContent.sort(function(a, b) {
            return Number(b.firstElementChild.innerText) - Number(a.firstElementChild.innerText);
          });
          console.log(sortedContent)
          var newContent = ""
          for (a of sortedContent) {
        
            newContent += "<div class=\"content\">\n" + a.outerHTML  + "\n<\/div>" + "<id=\"lol\">"
          }
          // newContent += 
          // console.log(newContent)
          container[0].innerHTML = newContent
          
          // console.log(container[0].outerHTML)
        }
      </script>
      {{ if .UserIn}}
      {{ else }}
      <h3>LOG IN TO ASK A QUESTION</h5>
        {{end}}
    </div>
    {{if .UserIn}}
    <a href="posts/create" class="button">Create post</a>
    {{end}}
  </div>
  <div class="category">
    <i class="fas fa-bars"></i>
    <ul id="ul">
        <p><a class="URL" onclick ="ShowAll()">All </a></p>
        <script>
          function ShowAll(){
            var games = document.getElementsByClassName("games")
          var books = document.getElementsByClassName("books")
          var movies = document.getElementsByClassName("movies")
          for (i of games) {
            i.style.display = "initial"
          }
          for (i of books) {
            i.style.display = "initial"
          }
          for (i of movies) {
            i.style.display = "initial"
          } 
          }
        </script>
      <p><a class="URL" onclick="ShowMovies()">Movies </a></p>
      <script>
        function ShowMovies() {
          // var games = document.getElementsByClassName("games")
          // var books = document.getElementsByClassName("books")
          var movies = document.getElementsByClassName("movies")
          // console.log(movies)
          var other = document.querySelectorAll(".content div:not(.movies)")
          // console.log(other)
          for (i of other) {
            i.style.display = "none"
          }
          // for (i of books) {
          //   i.style.display = "none"
          // }
          for (i of movies) {
            i.style.display = "initial"
          }          
        }
      </script>
      <p><a class="URL" onclick ="ShowGames()">Games </a></p>
      <script>
          function ShowGames() {
          var games = document.getElementsByClassName("games")
          var other = document.querySelectorAll(".content div:not(.games)")
          for (i of games) {
            i.style.display = "initial"
          }
          for (i of other) {
            i.style.display = "none"
          }     
             
        }
      </script>
      <p><a class="URL" onclick="ShowBooks()">Books </a></p>
      <script>
         function ShowBooks() {
          var books = document.getElementsByClassName("books")
          var other = document.querySelectorAll(".content div:not(.books)")
          for (i of books) {
            i.style.display = "initial"
          }
          for (i of other) {
            i.style.display = "none"
          }        
        }
      </script>
      <p><a class="URL" onclick="ShowMyPost()">My posts </a></p>
      <script>
        function ShowMyPost() {
          var me = document.getElementById("user")
          console.log(me.innerText)
          var selector = ".content div:not(." + me.innerText + ")"
          console.log(typeof(selector))
          var notMyPosts = document.querySelectorAll(selector)
          console.log(notMyPosts)
          for (i of notMyPosts) {
            i.style.display = "none"
          }  
        }
      </script>
    </ul>
  </div>

</html>