<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Forum page</title>
  <link rel="stylesheet" href="/css/homepage.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <nav>

    <div class="logo">Forum</div>
    <input type="checkbox" id="click" />
    <label for="click" class="menu-btn">
      <i class="fa fa-bars"></i>
    </label>

    <ul id="menu">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="#">About</a></li>
      {{ if .UserIn}}
      <li id="user">Hi, {{ .UserName }}</li>
      <li><a href="logout">Log out</a></li>
      {{ else }}
      <li><a href="sign-in">Log in</a></li>
      <li><a href="sign-up">Sign up</a></li>
      {{ end }}
    </ul>
    </div>
  </nav>
  <div class="main">
    <div class="contents">
      {{ range .AllPosts }}
      <div class="content">
        <div class= "counts {{.Category}}">
          <div class="postlike">
            <a> {{.Likes}}</a>
            <a><i class="far fa-thumbs-up"></i></a>
            <a><i class="far fa-thumbs-down"></i></a>
            <a>{{.Dislikes}}</a>
          </div>
          <h3><a href="/posts?id={{ .ID }}">{{.Title}}</a></h3>
          <h5><a>{{.Category}}  </a></h5>
          <h6><p>Asked on {{.Created}}</p></h6>
        </div>

        <div>

        </div>
      </div>
      {{ end }}

    </div>
  </div>

  <div class="">
    <div class="filterbtn">
      <input type="button" value="Newest to oldest" onclick="NewToOld()">
      <!-- <script>
        function NewToOld(){
          var posts = document.getElementsByClassName("content")

          posts.sort((a,b)) = moment(b.date, 'DD.MM.YY') - moment(a.date, 'DD.MM.YY')
        }
      </script> -->
      <input type="button" value="Oldest to newest">
      <input type="button" value="Most popular">
      <input type="button" value="Most commented">
      {{ if .UserIn}}
      {{ else }}
      <h3>LOG IN TO ASK A QUESTION</h5>
        {{end}}
    </div>
    {{if .UserIn}}
    <a href="posts/create" class="button">Create post</a>
    {{end}}
  </div>
  <div class="category">
    <i class="fas fa-bars"></i>
    <ul id="ul">
        <p><a class="URL" onclick ="ShowAll()">All </a></p>
        <script>
          function ShowAll(){
            var games = document.getElementsByClassName("games")
          var books = document.getElementsByClassName("books")
          var movies = document.getElementsByClassName("movies")
          for (i of games) {
            i.style.display = "initial"
          }
          for (i of books) {
            i.style.display = "initial"
          }
          for (i of movies) {
            i.style.display = "initial"
          } 
          }
        </script>
      <p><a class="URL" onclick="ShowMovies()">Movies </a></p>
      <script>
        function ShowMovies() {
          var games = document.getElementsByClassName("games")
          var books = document.getElementsByClassName("books")
          var movies = document.getElementsByClassName("movies")
          for (i of games) {
            i.style.display = "none"
          }
          for (i of books) {
            i.style.display = "none"
          }
          for (i of movies) {
            i.style.display = "initial"
          }          
        }
      </script>
      <p><a class="URL" onclick ="ShowGames()">Games </a></p>
      <script>
          function ShowGames() {
          var games = document.getElementsByClassName("games")
          var books = document.getElementsByClassName("books")
          var movies = document.getElementsByClassName("movies")
          for (i of games) {
            i.style.display = "initial"
          }
          for (i of books) {
            i.style.display = "none"
          }     
          for (i of movies) {
            i.style.display = "none"
          }     
        }
      </script>
      <p><a class="URL" onclick="ShowBooks()">Books </a></p>
      <script>
         function ShowBooks() {
          var games = document.getElementsByClassName("games")
          var books = document.getElementsByClassName("books")
          var movies = document.getElementsByClassName("movies")
          for (i of games) {
            i.style.display = "none"
          }
          for (i of books) {
            i.style.display = "initial"
          }  
          for (i of movies) {
            i.style.display = "none"
          }        
        }
      </script>
    </ul>
  </div>

</html>