<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <link rel="stylesheet" src="style.css">
</head>

<body>
    <form action="">
        <h1 title=" Registration form">Registration form</h1>
        <div class="group">
            <label for="">User name</label>
            <input type="text">

        </div>
        <div class="group">
            <label for="">Password</label>
            <input type="password">
        </div>
        <div class="group">
            <label for="">Re-Type Password</label>
            <input type="password">
        </div>
        <div class="group">
            <label for="">Email Address</label>
            <input type="email">
        </div>
        <div class="group">
            <!-- <center><button>Register</button></center> -->
        </div>
    </form>
</body>

</html>