{{ define "posts"}}
<div сlass="border">
    <table border="1">
      <thead>
        <tr>
          <td>ID</td>
          <td>Title:</td>
          <td>City</td>
          <td>View</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
      </thead>
      {{ range . }}
      <tbody>

        <tr>
          <td>id</td>
          <td>{{.Title}}</td>
          <td> {{.Text}} </td>
          <td><a href="/posts?title={{ .Title }}">View</a></td>
          <td><a href="/posts/edit?title={{ .Title }}">Edit</a></td>
          <td><a href="/posts/delete?title={{ .Title }}">Delete</a></td>
        </tr>

      </tbody>
      {{ end }}
    </table>

  </div>
  {{end}}