<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Forum page</title>
  <link rel="stylesheet" href="/css/homepage.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <nav>

    <div class="logo">Forum</div>
    <input type="checkbox" id="click" />
    <label for="click" class="menu-btn">
      <i class="fa fa-bars"></i>
    </label>


    <ul id="menu">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="#">About</a></li>
      {{ if .UserDetails.UserIn}}
      <li id="user">Hi, {{ .UserDetails.UserName }}</li>
      <li><a href="logout">Log out</a></li>
      {{ else }}
      <li><a href="sign-in">Log in</a></li>
      <li><a href="sign-up">Sign up</a></li>
      {{ end }}
    </ul>
    </div>
  </nav>


  <div class="title">
    <a>{{ .Posts.Title}}</a>
    <!-- <div>{{ .Posts.Title}}</div> -->
    <p>{{ .Posts.Text}}</p><br>
    <div>
      <!-- BUTTONS DO NOTW WORK -->
      <form action="/posts?id={{ .Posts.ID}}" method="POST">
        <a  style="font-size:20px">{{.Posts.Likes}}</a> 
        <button style="font-size:18px" name = "like" value="{{ .Posts.ID}}">
          <i class="fas fa-thumbs-up"></i> 
        </button>
      
        <button  style="font-size:18px"  name = "dislike" value="{{ .Posts.ID}}">
          <i class="far fa-thumbs-down"></i>
        </button>
        <a style="font-size:20px">{{.Posts.Dislikes}}</a>
      </form>
    </div>
  </div>

  <br>
  <div class="comment">
    <p>Comments</p>
    <!-- <p><input value="id"> {{.Posts.ID}}</p> -->
    <form action="/posts?id={{ .Posts.ID}}" method="POST">
      <p><textarea rows="10" cols="45" name="text"></textarea></p>
      <p><input type="submit" value="Send"></p>
    </form>

    <br>

    <div>
      <form action="/posts?id={{ .Posts.ID}}" method="POST">
      {{ range .Posts.Comments }}
        <a>{{.Text}}</a>
        <br>
            <a style="font-size:20px">{{.Likes}}</a>
            <button style="font-size:18px"  name = "like" value="{{.ID}}">
              <i class="fas fa-thumbs-up"></i>
            </button>
            <!-- <a><i class="far fa-thumbs-up"></i></a> -->
            <button style="font-size:18px"  name = "dislike" value="{{.ID}}">
              <i class="far fa-thumbs-down"></i>
            </button>
            <a style="font-size:20px">{{.Dislikes}}</a>
            <br><br>
      {{end}}
      </form>
    </div>

  </div>

  <div class="category">
    <i class="fas fa-bars"></i>
    <ul id="ul">
      <p><a class="URL" href="#">Movies </a></p>
      <p><a class="URL" href="#">Games </a></p>
      <p><a class="URL" href="#">Books </a></p>

    </ul>
  </div>

  </table>
</html>