<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <title>Log in</title>
    <link rel="stylesheet" href="/css/sign-in.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav>
      <div class="category">
        <i class="fas fa-bars"></i>
      </div>
      <div class="logo">Forum</div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fa fa-bars"></i>
      </label>
      <div class="box"> 
          <input
            type="search"
            class="search-data"
            placeholder="Search"
            required
            />
      </div>
      <ul>
        <li><a class="active" href="/homepage">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="sign-in">Log in</a></li>
        <li><a href="sign-up">Sign up</a></li>
      </ul>
      <label id="icon">
        <i class="fas fa-bars"></i>
      </label>
    </nav>
    <form action="" method="POST">
      <h1 title="Registration form">Log in</h1>
      <div class="group">
        <label for="">Username or Email Adrress</label>
        <input type="text" name="login" />
      </div>
      <div class="group">
        <label for="">Password</label>
        <input type="password" name="password" />
      </div>
      <div class="group">
        <center><button type="submit">Log in</center>
      </div>
    </form>
  </body>
</html>
