<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forum</title>
    <link rel="stylesheet" href="/css/homepage.css" />

</head>
<body>
    <header class="header">
        <div class="container header-content">
            <div class="logo">
                GeekForum
            </div>
            <button class="button submit" onclick="window.location.href='/'">Home</button>
            <button class="button submit" onclick="window.location.href='#'">About</button>
            <button class="button submit" onclick="window.location.href='sign-up'">Sign-up</button>
        </div>
    </header>
    <main>
      <section class="hero" style="height: 100vh;">
        <div class="container hero-container" style="max-width:700px; margin: 180px auto ">
          <div class="post" style="padding-bottom: 50px;">
            <div class="reg"><form action="" method="POST">
              <h1 title="Registration form" style="font-size: 50px;"><center>Log in</center></h1>
              {{ if eq .Msg "1"}}
                <p style="color: red; text-align:center;" style="font-size: 50px;"> Wrong password. Try again!</p>
              {{ end }}
              <div class="group">
                <label for="" style="font-size: 30px;"><center>Username or Email Adrress</center></label>
                <center><input type="text" name="login" id="login" class="inputfield" /><center>
              </div>
              <div class="group">
                <label for="" style="font-size: 30px;"><center>Password</center></label>
                <center><input type="password" name="password" id="password" class="inputfield" /></center>
              </div>
              <br>
              <center><button type="submit" class="button" style="font-size: 25px;">Log in</center>
            </div>
            </form>
          </div>
        </div>
       
      </section>
    </main>
</body>