<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <title>Registration form</title>
    <link rel="stylesheet" href="/css/sign-up.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav>
      <div class="category">
        
      </div>
      <div class="logo">Forum</div>
      <ul>
        <li><a class="active" href="homepage">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="sign-in">Log in</a></li>
        <li><a href="sign-up">Sign up</a></li>
      </ul>
      <label id="icon">
        <i class="fas fa-bars"></i>
      </label>
    </nav>
    <div class="reg"><form action="" method="POST">
      <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <input type="text" placeholder="Enter Username" name="username" id="username" required>
        <!-- <label for="email"><b>Email</b></label> -->
        <input type="email" placeholder="Enter Email" name="email" id="email" required>
    
        <!-- <label for="psw"><b>Password</b></label> -->
        <input type="password" placeholder="Enter Password" name="password" id="password" required>
    
        <!-- <label for="psw-repeat"><b>Repeat Password</b></label> -->
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <hr>
    
        
        <center><button type="submit" class="registerbtn">Register</button></center>
      </div>
    
      <div class="container sign-in">
        <center><p>Already have an account? <a href="sign-in">Sign in</a>.</p></center>
      </div>
    </form>
  </body>
</html>